# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE / Editor
.vscode/
.idea/

# Airflow
/airflow.db
/logs/
/tmp/

.DS_Store

.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/standalone/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.astro/*.local.yml
.astro/*.local.yaml
